In [1]:
import numpy as np
import pandas as pd

In [2]:
final = pd.read_csv("/Users/aashrit/Documents/Masters/MY498/Data/final_time_series.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/Users/aashrit/Documents/Masters/MY498/Data/final_time_series.csv'

In [ ]:
final

**Adding Interest Rate**

In [5]:
#unemp = pd.read_csv()
int_rate = pd.read_csv("/Users/aashrit/Documents/Masters/MY498/Data/interest_rate.csv")

In [24]:
int_rate = int_rate.iloc[1408:1793,:]

In [45]:
#type(int_rate.iloc[0,1])
int_rate = int_rate.reset_index()

In [46]:
final['int_rate'] = int_rate["DFF"]

In [49]:
final = final.iloc[:,1:]

In [50]:
final

           date  sentiment_score  attention_score T10YIE  int_rate
0    12/05/2021         -24.4702         3.767295   2.54      0.06
1    13/05/2021         -11.7490         2.164075   2.51      0.06
2    14/05/2021          -6.3891         1.059858   2.51      0.06
3    15/05/2021          -8.2075         0.858450    NaN      0.06
4    16/05/2021          -0.2693         0.877176    NaN      0.06
..          ...              ...              ...    ...       ...
380  27/05/2022         -13.3935         2.373323   2.63      0.83
381  28/05/2022          -1.6110         2.046909    NaN      0.83
382  29/05/2022         -11.6645         1.686041    NaN      0.83
383  30/05/2022         -18.2967         1.610722      .      0.83
384  31/05/2022           4.8702         3.252695   2.64      0.83

[385 rows x 5 columns]

In [51]:
final.to_csv('final_time_series.csv')

**Adding BEIR**

In [6]:
t10 = pd.read_csv('/Users/aashrit/Documents/Masters/MY498/Data/BEIR.csv')
t10['T10YIE']

0      1.61
1      1.61
2      1.61
3      1.62
4      1.65
       ...
715    2.37
716    2.39
717    2.38
718    2.33
719    2.34
Name: T10YIE, Length: 720, dtype: object

In [16]:
for i in t10['T10YIE']:
    if i == '.':
        print(i)

In [4]:
final['T10YIE'].iloc[382]

NameError: name 'final' is not defined

In [57]:
pd.to_numeric(final['T10YIE'])

ValueError: Unable to parse string "." at position 19

In [10]:
for i in t10['T10YIE']:
    if i == '.':
        i = None

In [12]:
for i in t10['T10YIE']:
    if type(i) == str:
        print(i)

1.61
1.61
1.61
1.62
1.65
1.64
1.61
1.57
1.54
1.59
1.64
1.68
1.66
1.69
1.71
.
1.7
1.66
1.62
1.63
1.63
1.63
1.6
1.63
1.62
1.62
1.62
1.63
.
1.61
1.65
1.63
1.66
1.67
1.69
1.69
1.71
1.69
1.72
1.7
1.73
1.75
1.76
1.77
1.77
1.75
1.75
.
1.74
1.73
1.75
1.77
.
1.8
1.77
1.75
1.74
1.75
1.74
1.76
1.77
1.77
1.75
1.74
1.75
.
1.74
1.72
1.7
1.68
1.63
1.65
1.64
1.64
1.65
1.63
1.64
1.66
1.67
1.66
1.66
1.65
1.66
1.67
1.66
.
1.65
1.65
1.63
1.61
1.59
1.53
1.54
1.53
1.41
1.41
1.45
1.46
1.4
1.31
0.99
1.0
0.96
0.92
0.9
0.73
0.63
0.63
0.5
0.75
0.8
0.97
1.07
1.07
0.94
0.95
0.87
0.91
1.03
1.08
1.14
1.17
1.19
1.23
.
1.26
1.29
1.19
1.03
1.01
0.94
0.96
1.06
1.05
1.11
1.17
1.14
1.14
1.07
1.06
1.07
1.1
1.1
1.08
1.12
1.13
1.09
1.07
1.06
1.09
1.17
1.15
1.16
1.14
1.12
.
1.13
1.14
1.18
1.15
1.18
1.18
1.21
1.22
1.27
1.28
1.26
1.27
1.21
1.21
1.23
1.27
1.26
1.28
1.3
1.34
1.38
1.33
1.33
1.32
1.34
1.34
1.37
1.41
.
1.45
1.43
1.42
1.39
1.41
1.42
1.41
1.41
1.41
1.46
1.46
1.48
1.48
1.49
1.51
1.52
1.51
1.53
1.52
1.55
1.58
1.57
1.61
1.63
1.61
1.61
1.63
1.67
1.67
1.65
1.66
1.68
1.67
1.62
1.64
1.67
1.7
1.72
1.73
1.77
1.8
1.76
1.73
1.65
1.7
.
1.68
1.71
1.69
1.65
1.65
1.67
1.68
1.66
1.67
1.62
1.62
1.6
1.58
1.58
1.61
1.64
1.63
1.63
1.64
1.68
1.66
1.71
1.72
1.73
.
1.7
1.69
1.69
1.71
1.71
1.72
1.74
1.76
1.75
1.72
1.71
1.7
1.71
1.7
1.71
1.72
1.64
1.66
1.65
1.73
1.76
.
1.71
1.72
1.72
1.7
1.7
1.7
1.69
1.71
1.74
1.75
.
1.75
1.77
1.81
1.85
1.86
1.89
1.88
1.89
1.91
1.88
1.87
1.88
1.91
1.92
1.94
1.95
1.95
1.94
1.97
1.97
.
1.97
1.96
1.96
1.99
.
2.01
2.03
2.06
2.09
2.06
2.06
2.08
2.06
2.09
2.1
.
2.1
2.12
2.1
2.09
2.08
2.08
2.08
2.13
2.13
2.11
2.15
2.19
2.17
2.21
2.22
2.22
2.21
2.2
2.21
.
2.24
2.21
2.16
2.14
2.16
2.16
2.17
2.14
2.15
2.16
2.2
2.21
2.2
2.22
2.21
2.21
2.26
2.28
2.26
2.27
2.3
2.3
2.27
2.31
2.33
2.29
2.31
2.32
2.34
2.36
2.35
2.37
2.35
2.36
2.35
2.32
2.34
2.33
2.31
2.33
2.33
2.33
2.33
2.36
2.34
2.32
2.33
2.33
2.34
2.36
2.39
2.41
2.42
2.41
2.42
2.42
2.47
2.45
2.49
2.54
2.53
2.54
2.51
2.51
2.54
2.52
2.48
2.41
2.43
2.44
2.42
2.4
2.42
2.42
.
2.46
2.44
2.42
2.4
2.39
2.36
2.32
2.35
2.32
2.36
2.38
2.32
2.27
2.24
2.25
2.31
2.34
2.3
2.34
2.33
2.32
2.32
2.35
2.33
.
2.31
2.28
2.22
2.28
2.33
2.36
2.34
2.32
2.33
2.24
2.26
2.28
2.28
2.35
2.4
2.38
2.41
2.43
2.4
2.37
2.38
2.35
2.33
2.37
2.37
2.4
2.42
2.41
2.37
2.36
2.33
2.32
2.28
2.27
2.27
2.3
2.35
2.33
2.39
2.37
2.33
2.34
2.32
2.34
.
2.36
2.38
2.38
2.4
2.37
2.33
2.35
2.35
2.33
2.29
2.29
2.28
2.31
2.34
2.35
2.38
2.37
2.37
2.38
2.38
2.45
2.43
2.46
2.5
.
2.49
2.52
2.52
2.56
2.54
2.54
2.57
2.64
2.64
2.66
2.69
2.65
2.57
2.51
2.5
2.51
2.53
2.56
2.54
2.62
2.63
2.7
.
2.73
2.76
2.73
2.7
2.73
2.65
2.61
2.62
2.61
.
2.55
2.54
2.5
2.44
2.47
2.43
2.44
2.47
2.52
2.47
2.44
2.4
2.37
2.39
2.42
2.38
2.39
2.44
2.47
2.47
.
2.5
2.5
2.53
2.58
2.56
2.6
2.57
2.53
2.46
2.48
2.48
2.54
2.48
2.43
2.44
.
2.46
2.4
2.33
2.34
2.38
2.41
2.38
2.4
2.44
2.44
2.43
2.41
2.38
2.41
2.4
2.42
2.42
2.45
2.43
2.48
2.48
2.46
2.43
2.41
.
2.45
2.53
2.55
2.54
2.62
2.62
2.71
2.69
2.67
2.77
2.9
2.84
2.86
2.94
2.93
2.84
2.8
2.91
2.86
2.9
2.91
2.94
2.92
2.95
2.95
2.86
2.86
2.84
2.8
2.8
2.84
2.83
2.82
2.87
2.91
2.86
2.8
2.89
.
2.92
2.93
2.92
3.02
2.98
2.91
2.85
2.88
2.97
2.88
2.81
2.83
2.86
2.87
2.86
2.75
2.65
2.7
2.59
2.69
2.68
2.71
2.72
2.59
2.55
2.6
2.55
2.56
2.62
2.63
.
2.64
2.65
2.66
2.74
2.76
2.73
2.75
2.75
2.76
2.74
2.6
2.7
2.62
2.58
.
2.61
2.54
2.5
2.56
2.55
2.48
2.36
2.33
2.34
.
2.3
2.29
2.33
2.37
2.32
2.32
2.31
2.34
2.36
2.37
2.39
2.38
2.33
2.34

In [13]:
t10['T10YIE'] = t10['T10YIE'].replace(['.'],[None])

In [15]:


#df['price'].fillna(df['price'].mean(), inplace = True)
print(t10.isnull().sum())

DATE       0
T10YIE    30
dtype: int64

In [80]:
final['T10YIE'] = pd.to_numeric(final['T10YIE'])

In [78]:
type(final['T10YIE'])

pandas.core.series.Series

In [81]:
final['T10YIE']

0      2.54
1      2.51
2      2.51
3       NaN
4       NaN
       ...
380    2.63
381     NaN
382     NaN
383     NaN
384    2.64
Name: T10YIE, Length: 385, dtype: float64

In [82]:
final

           date  sentiment_score  attention_score  T10YIE  int_rate
0    12/05/2021         -24.4702         3.767295    2.54      0.06
1    13/05/2021         -11.7490         2.164075    2.51      0.06
2    14/05/2021          -6.3891         1.059858    2.51      0.06
3    15/05/2021          -8.2075         0.858450     NaN      0.06
4    16/05/2021          -0.2693         0.877176     NaN      0.06
..          ...              ...              ...     ...       ...
380  27/05/2022         -13.3935         2.373323    2.63      0.83
381  28/05/2022          -1.6110         2.046909     NaN      0.83
382  29/05/2022         -11.6645         1.686041     NaN      0.83
383  30/05/2022         -18.2967         1.610722     NaN      0.83
384  31/05/2022           4.8702         3.252695    2.64      0.83

[385 rows x 5 columns]

In [17]:
for i in final['T10YIE']:
    if type(i) == str:
        i = float(i)

NameError: name 'final' is not defined

In [18]:
final['T10YIE'].fillna(final['T10YIE'].mean(), inplace = True)

NameError: name 'final' is not defined

In [84]:
final['T10YIE']

0      2.540000
1      2.510000
2      2.510000
3      2.521818
4      2.521818
         ...
380    2.630000
381    2.521818
382    2.521818
383    2.521818
384    2.640000
Name: T10YIE, Length: 385, dtype: float64

In [85]:
final

           date  sentiment_score  attention_score    T10YIE  int_rate
0    12/05/2021         -24.4702         3.767295  2.540000      0.06
1    13/05/2021         -11.7490         2.164075  2.510000      0.06
2    14/05/2021          -6.3891         1.059858  2.510000      0.06
3    15/05/2021          -8.2075         0.858450  2.521818      0.06
4    16/05/2021          -0.2693         0.877176  2.521818      0.06
..          ...              ...              ...       ...       ...
380  27/05/2022         -13.3935         2.373323  2.630000      0.83
381  28/05/2022          -1.6110         2.046909  2.521818      0.83
382  29/05/2022         -11.6645         1.686041  2.521818      0.83
383  30/05/2022         -18.2967         1.610722  2.521818      0.83
384  31/05/2022           4.8702         3.252695  2.640000      0.83

[385 rows x 5 columns]

**Adding Unemployment**

In [86]:
unemp = pd.read_csv("/Users/aashrit/Documents/Masters/MY498/Data/unemployment_copy.csv")

In [90]:
unemp = unemp.iloc[:385,:]

In [91]:
unemp

           DATE  UNRATENSA
0    12/05/2021        5.5
1    13/05/2021        5.5
2    14/05/2021        5.5
3    15/05/2021        5.5
4    16/05/2021        5.5
..          ...        ...
380  27/05/2022        3.4
381  28/05/2022        3.4
382  29/05/2022        3.4
383  30/05/2022        3.4
384  31/05/2022        3.4

[385 rows x 2 columns]

In [94]:
final['unemp'] = unemp['UNRATENSA']

In [95]:
final

           date  sentiment_score  attention_score    T10YIE  int_rate  unemp
0    12/05/2021         -24.4702         3.767295  2.540000      0.06    5.5
1    13/05/2021         -11.7490         2.164075  2.510000      0.06    5.5
2    14/05/2021          -6.3891         1.059858  2.510000      0.06    5.5
3    15/05/2021          -8.2075         0.858450  2.521818      0.06    5.5
4    16/05/2021          -0.2693         0.877176  2.521818      0.06    5.5
..          ...              ...              ...       ...       ...    ...
380  27/05/2022         -13.3935         2.373323  2.630000      0.83    3.4
381  28/05/2022          -1.6110         2.046909  2.521818      0.83    3.4
382  29/05/2022         -11.6645         1.686041  2.521818      0.83    3.4
383  30/05/2022         -18.2967         1.610722  2.521818      0.83    3.4
384  31/05/2022           4.8702         3.252695  2.640000      0.83    3.4

[385 rows x 6 columns]

In [98]:
final.to_csv('final_time_series.csv')

**Adding Consumer Sentiment**